@model Album

@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.CreateBy)
@Html.HiddenFor(m => m.CreateDate)
@Html.HiddenFor(m => m.UpdateBy)
@Html.HiddenFor(m => m.UpdateDate)

<div class="form-group mb-3">
    <small class="form-text text-danger">
        *
    </small>
    <label asp-for="Name" class="form-label fw-bold">Name</label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label>Cover Photo: </label>
    <input type="file" name="Ifile" id="Ifile" class="form-control" accept="image/*" onchange="previewCoverPhoto()" />

    <small class="form-text text-danger">
        *only (JPEG, GIF, and PNG)
    </small>
    <div class="form-group mb-3">
        <label asp-for="Description" class="form-label fw-bold">Description</label>
        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
    </div>
    <input type="hidden" name="CoverPhotoTempPath" id="CoverPhotoTempPath" value="@ViewBag.CoverPhotoTempPath" />
    @Html.HiddenFor(m => m.FileId)
    @if (!string.IsNullOrEmpty(ViewBag.CoverPhotoTempPath) || Model.File != null)
    {
        <div style="width: 200px; height: 200px; overflow: hidden; border-radius: 10px; margin-top: 10px;">
            @if (Model.File != null)
            {
                <img id="coverPreview" src="@Model.File.FilePath" style="width: 150px;" />
                @Html.Hidden("OldCoverPhotoPath", Model.File.FilePath)
            }
        </div>
    }
</div>