@model Song
@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.CreateBy)
@Html.HiddenFor(m => m.CreateDate)
@Html.HiddenFor(m => m.UpdateBy)
@Html.HiddenFor(m => m.UpdateDate)
    <tr>
        <td>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            <span asp-validation-for="Name" class="text-danger"></span>
        </td>
        <td class="text-center">
            <button type="submit" class="btn btn-danger" name="actionDelete" value="DeleteSong">Delete</button>
        </td>
    </tr>